# executables
main
main.exe
a.out
PhotoLab
PhotoLab.exe
bw_diff.ppm
bw.ppm
colorfilter_diff.ppm
colorfilter.ppm
edge_diff.ppm
edge.ppm
shuffle_diff.ppm
shuffle.ppm
hflip_diff.ppm
hflip.ppm
vmirror_diff.ppm
vmirror.ppm
border_diff.ppm
border.ppm
EngHall.ppm
PhotoLab.script
PhotoLab.txt

# object files
*.o
*.obj
negative_diff.ppm
negative.ppm

# build folders
build/
bin/

# macOS
.DS_Store
*.dSYM/

# VS Code
.vscode/
